.mainContainer {
    display: flex;
    justify-content: center;
    max-width: 1499px;
    margin: 40px auto 0;
}

.navbar {
    padding: 20px;
    width: 400px;
    color: brown;
    font-size: 14px;
    background: transparent;
    border: 1px solid brown;
}

.content {
    font-size: 14px;
    width: 100%;
    color: brown;
    background: transparent;
    border-top: 1px solid brown;
    border-right: 1px solid brown;
    border-bottom: 1px solid brown;
    padding: 20px;
}

.containerCardUser {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.itemCardUser {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;
    width: 160px;
    height: 200px;
    background: transparent;
    border: 1px solid brown;
}
